@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: absolute;
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-shrink: 0;
  height: vwsize(350);
  width: 100%;
  margin-bottom: vwsize(100);

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translate(-50%, -50%);
  }
}
