@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: absolute;
  display: inline-flex;
  align-items: center;
  flex-basis: auto;
  flex-shrink: 0;
  padding-bottom: vwsize(50);
  font-size: vwsize(30);
  letter-spacing: vwsize(-0.48);

  .drop {
    display: flex;
    align-items: center;

    svg {
      width: vwsize(22);
      height: vwsize(22);
      margin-top: vwsize(5);
      margin-bottom: vwsize(5);
      margin-right: vwsize(-2);
    }
  }

  .time {
    position: relative;
    left: vwsize(-32);
    margin-top: vwsize(14);
    margin-bottom: vwsize(16);
  }
}
