@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: vwsize(178);
  padding: 0 vwsize(170);
  color: $color-cream;

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: vwsize(660);
    font-size: vwsize(18);

    svg {
      flex-basis: auto;
      flex-shrink: 0;
      width: vwsize(65);
      height: vwsize(53);
      margin: 0 vwsize(8);
    }
  }

  .item {
    text-align: center;

    a {
      font-size: vwsize(18);

      @include hover {
        opacity: 0.7;
      }
    }
  }

  .bold {
    letter-spacing: vwsize(-0.34);
    font-weight: 500;
    text-transform: uppercase;
  }
}
