@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  display: flex;
  width: 100%;
  height: vhplus(186, 100vh);
  overflow: hidden;
  cursor: grab;
  backface-visibility: hidden;

  .item {
    position: absolute;
  }
}
