.root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .image {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
