@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  background-color: $color-cream;
}
