@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: absolute;
  display: inline-flex;
  align-items: center;
  flex-basis: auto;
  flex-shrink: 0;

  .symbols {
    display: flex;
    align-items: center;
    margin-left: vwsize(20);

    svg {
      width: vwsize(30);
      height: vwsize(27);
      margin-right: vwsize(47);
      margin-left: vwsize(54);
    }
  }

  span {
    font-size: vwsize(30);
    line-height: vwsize(24);
  }

  .small {
    font-size: vwsize(30);
    letter-spacing: vwsize(-0.48);
  }

  .big {
    font-weight: 700;
    margin-left: vwsize(9);
  }
}
