@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: vwsize(726);
  padding-right: vwsize(30);

  .image {
    position: relative;
    height: 100vh;
    width: 100%;
    border-radius: vwsize(20);
    overflow: hidden;

    @include hover {
      & + * {
        opacity: 1;
        visibility: visible;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      user-select: none;
    }
  }

  .info {
    max-height: vwsize(186);
    margin-top: vwsize(20);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    user-select: none;
    transition: all 0.3s ease;
  }

  .text {
    font-size: vwsize(18);
    list-style: vwsize(24);
    letter-spacing: vwsize(-0.29);
    text-transform: uppercase;
  }

  .awards {
    display: flex;
    margin-top: vwsize(30);
  }

  .award {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: vwsize(25);
    letter-spacing: vwsize(-0.4);
    line-height: 1;

    &:not(:last-child) {
      margin-right: vwsize(44);
    }

    svg {
      flex-basis: auto;
      flex-shrink: 0;
      width: vwsize(27);
      height: vwsize(38);
      margin-right: vwsize(10);
    }
  }
}
