@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: get-real-vh(100);
  background-color: $color-dark;

  .nav {
    padding-top: vwsize(100);
    padding-bottom: vwsize(130);
  }

  .item {
    display: block;
    text-align: center;
  }

  .link {
    display: inline-flex;
    align-items: center;
    min-height: vwsize(300);
    font-size: vwsize(240);
    text-transform: uppercase;
    color: #f9f8e4;
    background: 0 0;
    filter: blur(0.1px);
    transition: filter 0.3s;
  }

  .hover {
    filter: blur(14px);
    will-change: filter;
  }
}
