@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $color-dark;
  }

  .wrapper {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 80%;
    transform: translateY(-50%);
    cursor: auto;
  }

  iframe {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
