@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  width: 100%;
  height: 100%;

  .inner {
    display: flex;
    height: 100%;
  }

  .arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: vwsize(180);
    padding-right: vwsize(5);
  }

  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: vwsize(64);
    padding-top: vwsize(48);
    padding-bottom: vwsize(48);
    margin-left: vwsize(40);
    border-radius: vwsize(32);
    font-size: vwsize(30);
    letter-spacing: vwsize(-0.48);
    border: 1px solid $color-dark;

    svg {
      width: vwsize(18);
      height: vwsize(18);
      transition: all 0.2s ease-in;
    }

    span {
      writing-mode: vertical-rl;
      transform:
        rotate(
          180deg
        );
    }

    @include hover {
      background-color: $color-dark;
      color: $color-white;

      svg {
        transform: translateX(vwsize(5));

        g {
          stroke: $color-white;
        }
      }
    }
  }

  .arrow {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:first-child) {
      margin-top: vwsize(280);
    }

    svg {
      width: vwsize(13);
      height: vwsize(22);
    }

    span {
      font-size: vwsize(20);
      letter-spacing: vwsize(-0.32);
      line-height: 1;
      writing-mode: vertical-rl;
    }

    &:first-child {
      span {
        margin-top: vwsize(10);
      }
    }
  }

  .image {
    position: relative;
    width: vwsize(946);
    border-radius: vwsize(20);
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
