@use '~styles/variables' as *;

.color {
  transition-property: fill;
  transition-duration: 300ms;

  &-dark {
    fill: $color-dark;
  }

  &-light {
    fill: $color-cream;
  }

  &-none {
    fill: none;
  }
}

.stroke {
  &-dark {
    stroke: $color-dark;
  }

  &-light {
    stroke: $color-cream;
  }

  &-none {
    stroke: none;
  }
}

.name {
  &-mail {
    width: 16px;
    height: 12px;
  }
}
