@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: relative;

  .title {
    margin-bottom: vwsize(10);
    color: var(--styleColor);
    font-size: vwsize(18);
    white-space: pre-wrap;
    transition: color 0.25s 50ms;
  }

  .image {
    position: relative;
    height: vwsize(626);
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid var(--styleColor);
      opacity: 0;
      visibility: hidden;
    }

    img {
      position: absolute;
      z-index: 4;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  @include hover {
    .image {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
