@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  width: 100%;
  height: vhminus(94, 100vh);
  padding-top: vwsize(90);
  background: $color-dark-bg;

  .inner {
    position: relative;
    z-index: 2;
  }

  .title {
    padding: 0 vwsize(40);

    svg {
      height: vwsize(196);
    }
  }

  .bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .pluses {
    position: absolute;
    z-index: 1;
    top: vwsize(66);
    right: vwsize(112);
    bottom: vwsize(66);
    left: vwsize(112);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pLine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: vwsize(112);

    &:first-child {
      opacity: 0;
    }
  }

  .plus {
    position: relative;
    height: vwsize(112);
    width: vwsize(112);
    background-image: url(../../assets/images/plus.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
