@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  height: vwsize(1336);
  padding-left: vwsize(20);
  background-color: $color-cream;
  border-top: 3px solid $color-dark;

  .inner {
    position: relative;
    display: flex;
    height: 100%;
  }

  .title {
    display: flex;
    align-items: center;
    font-size: vwsize(30);
    text-transform: uppercase;
    line-height: 1;

    svg {
      flex-basis: auto;
      flex-shrink: 0;
      width: vwsize(29);
      height: vwsize(26);
      margin-right: vwsize(16);
    }
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: vwsize(440);
    padding-bottom: vwsize(150);
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-size: vwsize(25);
    line-height: vwsize(30);

    svg {
      position: relative;
      top: -1px;
      left: -1px;
      display: inline;
      vertical-align: middle;
      width: vwsize(20);
      height: vwsize(40);
    }

    p {
      &:not(:last-child) {
        margin-bottom: vwsize(20);
      }
    }
  }

  .icon {
    position: absolute;
    z-index: 5;
    top: vwsize(114);
    right: vwsize(-41);
    width: vwsize(199);
    height: vwsize(204);
    background: url(../../assets/images/eyes-sticker.png) no-repeat center center / 100%;
  }

  .left {
    position: relative;
    padding-top: vwsize(30);
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
  }

  .right {
    width: vwsize(888);
    flex-basis: auto;
    flex-shrink: 0;
  }
}
