@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: var(--styleColor);

  .item {
    &:not(:last-child) {
      margin-right: vwsize(30);
    }
  }

  .link {
    display: block;
    max-height: vwsize(28);
    max-width: vwsize(28);
    transition: opacity 0.1s linear;

    @include hover {
      opacity: 0.7;
    }

    svg {
      height: 100%;
    }
  }
}
