@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: absolute;
  display: inline-flex;
  align-items: center;
  flex-basis: auto;
  flex-shrink: 0;

  .title {
    padding-bottom: vwsize(30);
    font-size: vwsize(30);
    letter-spacing: vwsize(-0.48);
  }
}
