@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  width: vwsize(112);
  height: vwsize(112);

  &::after,
  &::before {
    content: '';
    position: absolute;
    background-color: $color-dark-2;
  }

  &::after {
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
  }

  &::before {
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
  }
}
