.root {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  &::after {
    content: '';
    position: fixed;
    top: -100%;
    left: -50%;
    width: 300%;
    height: 300%;
    opacity: 0.3;
    background-image: url(../../assets/images/noise.png);
    animation: noise 0.8s steps(10) infinite;
  }
}

@keyframes noise {
  0%,
  to {
    transform: translateY(0%) translateX(0%);
  }

  20% {
    transform: translateX(-5%) translateY(-10%);
  }

  30% {
    transform: translateX(7%) translateY(-25%);
  }

  40% {
    transform: translateX(10%) translateY(15%);
  }

  50% {
    transform: translateX(-15%) translateY(5%);
  }

  60% {
    transform: translateX(15%) translateY(5%);
  }

  70% {
    transform: translateX(15%) translateY(15%);
  }

  80% {
    transform: translateX(10%) translateY(25%);
  }

  90% {
    transform: translateX(-10%) translateY(10%);
  }
}
