@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  transition: opacity 0.1s linear;

  @include hover {
    opacity: 0.7;
  }

  .item {
    width: vwsize(3);
    height: vwsize(22);
    background-color: var(--styleColor);
    transform-origin: bottom;

    &:not(:last-child) {
      margin-right: vwsize(5);
    }

    &:nth-child(1) {
      transform: scaleY(0.6) translateZ(0);
    }

    &:nth-child(2) {
      transform: scaleY(0.98) translateZ(0);
    }

    &:nth-child(3) {
      transform: scaleY(0.5) translateZ(0);
    }

    &:nth-child(4) {
      transform: scaleY(0.7) translateZ(0);
    }

    &:nth-child(5) {
      transform: scaleY(0.85) translateZ(0);
    }
  }

  &.isActive {
    .item {
      animation-name: equalize;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      &:nth-child(1) {
        animation-duration: 0.4s;
      }

      &:nth-child(2) {
        animation-duration: 0.65s;
      }

      &:nth-child(3) {
        animation-duration: 0.9s;
      }

      &:nth-child(4) {
        animation-duration: 0.85s;
      }

      &:nth-child(5) {
        animation-duration: 0.7s;
      }
    }
  }
}

@keyframes equalize {
  0% {
    transform: scaleY(0.5) translateZ(0);
  }

  25% {
    transform: scaleY(0.3) translateZ(0);
  }

  50% {
    transform: scaleY(0.8) translateZ(0);
  }

  75% {
    transform: scaleY(0.98) translateZ(0);
  }

  100% {
    transform: scaleY(0.4) translateZ(0);
  }
}
