@font-face { font-family: 'Neue Haas Grotesk Display Pro'; src: url('./fonts/NeueHaasDisplay-Medium.woff2') format('woff2'); font-weight: 500; font-display: swap; }

@font-face { font-family: 'Neue Haas Grotesk Display Pro'; src: url('./fonts/NeueHaasDisplay-Roman.woff2') format('woff2'); font-weight: 400; font-display: swap; }

@font-face { font-family: 'Marvelous Photograph Script'; src: url('./fonts/marvelous_photograph_script.woff2') format('woff2'); font-weight: 400; font-display: swap; }
