@import '~styles/variables';

body,
html {
  overflow: hidden;
}

html * {
  cursor: none !important;
}

body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  background-color: $color-dark;
}

:global {
  .route-enter {
    opacity: 0;
  }

  .route-enter-active {
    opacity: 1;
    transition: opacity 1s ease;
  }

  .route-exit {
    opacity: 1;
  }

  .route-exit-active {
    opacity: 0;
    transition: opacity 1s ease;
  }

  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    opacity: 1;
    transition: opacity 400ms;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit-active {
    opacity: 0;
    transition: opacity 400ms;
  }
}
