@import '~styles/variables';

@mixin media-mobile {
  @media (max-width: $media-w-mobile-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $media-w-tablet-width) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: $media-w-tablet-width) {
    @content;
  }
}

@mixin media-small-mobile {
  @media (max-width: $media-w-small-mobile-width) {
    @content;
  }
}
