@function get-real-vh($vh) {
  @return calc(var(--vh, 1vh) * #{$vh});
}

@function vwsize($pixels) {
  @return calc((#{$pixels} / var(--screen-size) * 100) * 1vw);
}

@function vhminus($pixels, $val) {
  @return calc(#{$val} - #{vwsize($pixels)});
}

@function vhplus($pixels, $val) {
  @return calc(#{$val} + #{vwsize($pixels)});
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
