@use '~styles/mixins' as *;
@use '~styles/media' as *;

@mixin fontSet($fz, $lh: '') {
  font-size: vwsize($fz);

  @if $lh != '' {
    line-height: vwsize($lh);
  }
}

@mixin setLineHeight($lineHeight) {
  line-height: $lineHeight;
}

@mixin setLetterSpacing($spacing) {
  @if $spacing==normal {
    letter-spacing: normal;
  }

  @else {
    letter-spacing: vwsize($spacing / 100);
  }
}

@mixin fontType($point) {
  @if $point==K {
    font-family: 'Knockout', Arial, Helvetica, sans-serif;
  }

  @else if $point==S {
    font-family: 'Sang-Bleu', Arial, Helvetica, sans-serif;
  }

  @else if $point==U {
    font-family: 'Untitled-Sans', Arial, Helvetica, sans-serif;
  }
}

@mixin fontSize($desktop: '', $tablet: '', $mobile: '', $mobile-small-mobile: '') {
  @if $desktop != '' {
    @include fontSet($desktop);
  }

  @if $tablet != '' {
    @include media-tablet {
      @include fontSet($tablet);
    }
  }

  @if $mobile != '' {
    @include media-mobile {
      font-size: $mobile + px;
    }
  }

  @if $mobile-small-mobile != '' {
    @include media-small-mobile {
      font-size: $mobile-small-mobile + px;
    }
  }
}

@mixin lineHeight($desktop: '', $tablet: '', $mobile: '') { // (fontSize / lineHeight)
  @if $desktop != '' {
    @include setLineHeight($desktop);
  }

  @if $tablet != '' {
    @include media-tablet {
      @include setLineHeight($tablet);
    }
  }

  @if $mobile != '' {
    @include media-mobile {
      @include setLineHeight($mobile);
    }
  }
}

@mixin letterSpacing($desktop: '', $tablet: '', $mobile: '') {
  @if $desktop != '' {
    @include setLetterSpacing($desktop);
  }

  @if $tablet != '' {
    @include media-tablet {
      @include setLetterSpacing($tablet);
    }
  }

  @if $mobile != '' {
    @include media-mobile {
      @include setLetterSpacing($mobile);
    }
  }
}
