@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  width: 100%;

  .title {
    margin-top: vwsize(15);
    color: var(--styleColor);
    text-align: center;
    font-weight: 500;
    font-size: vwsize(30);
    white-space: pre-wrap;
    user-select: none;
    overflow: hidden;
    transition: color 0.5s;
  }

  .image {
    position: relative;
    height: vwsize(626);
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid var(--styleColor);
      opacity: 0;
      visibility: hidden;
    }

    img {
      position: absolute;
      z-index: 4;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  @include hover {
    .image {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }

    .title {
      div {
        animation: title_anim 0.5s 0.6s forwards;
      }
    }
  }
}

@keyframes title_anim {
  0% {
    transform: translateZ(0);
  }

  50% {
    transform: translate3d(0, -100%, 0);
  }

  51% {
    transform: translate3d(0, 100%, 0);
  }

  100% {
    transform: translateZ(0);
  }
}
