@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  display: flex;
  height: vwsize(896);
  width: 100%;
  padding-top: vwsize(54);
  padding-bottom: vwsize(54);
  padding-left: vwsize(30);
  padding-right: vwsize(26);
  border-top: 3px solid $color-dark;
  border-bottom: 3px solid $color-dark;
  background-color: $color-cream;
}
