@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: vwsize(114);
  padding-bottom: vwsize(20);
  overflow: hidden;
  background-color: $color-cream;

  .inner {
    display: inline-flex;
    align-items: center;
    height: vwsize(94);
    white-space: nowrap;
  }

  .item {
    flex-basis: auto;
  }
}
