@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .item {
    &:not(:last-child) {
      margin-right: vwsize(53);
    }
  }

  .btn {
    font-size: vwsize(30);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--styleColor);
    letter-spacing: vwsize(-0.48);
    transition: opacity 0.1s linear;
    overflow: hidden;

    span {
      display: block;
    }

    @include hover {
      opacity: 0.7;
    }
  }

  .more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: vwsize(40);
    height: vwsize(50);
    transition: opacity 0.1s linear;

    @include hover {
      opacity: 0.7;
    }
  }

  .dot {
    width: vwsize(14);
    height: vwsize(14);
    border-radius: 50%;
    background-color: var(--styleColor);
  }

  .moreActive {
    justify-content: center;

    .dot {
      animation: dotOpacity 2s infinite forwards;

      &:last-child {
        display: none;
      }
    }
  }
}

@keyframes dotOpacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
