@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $color-cream;
}
