@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: absolute;
  z-index: 6;
  height: vwsize(54);
  width: 100%;
  mix-blend-mode: difference;

  .inner {
    display: inline-flex;
    align-items: center;
    height: vwsize(54);
    white-space: nowrap;
  }

  .item {
    backface-visibility: hidden;
  }
}

.image {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: vwsize(800);
  height: vwsize(308);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}
