@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  background-color: $color-cream;
  padding-bottom: vwsize(172);
  padding-top: vwsize(128);

  .header {
    position: relative;
    z-index: 5;
    margin-bottom: vwsize(47);
  }

  .title {
    font-size: vwsize(175);
    line-height: 1;
    letter-spacing: vwsize(-2.82);
    text-align: center;
    text-transform: uppercase;
  }

  .pluses {
    position: absolute;
    z-index: 4;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    justify-content: space-between;
    width: 100%;
    padding-left: vwsize(110);
    padding-right: vwsize(110);
  }

  .plusesTop {
    top: vwsize(87);
  }

  .plusesBottom {
    bottom: vwsize(84);
  }
}
