@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: absolute;
  display: inline-flex;
  margin-right: vwsize(46);
  backface-visibility: hidden;

  .title {
    font-size: vwsize(30);
    letter-spacing: vwsize(-0.48);
    text-transform: uppercase;
  }

  svg {
    flex-basis: auto;
    width: vwsize(23);
    height: vwsize(23);
    margin-left: vwsize(10);
    transform: translate3d(vwsize(0), vwsize(30), 0);
    transition: transform 0.2s ease;
  }
}

.isActive {
  svg {
    transform: translate3d(vwsize(44), vwsize(2), 0);
  }
}
