@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: absolute;
  z-index: 8;
  bottom: vwsize(25);
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: vwsize(50);
  padding: 0 vwsize(44);

  .num {
    font-size: vwsize(18);
    color: var(--styleColor);
    transition: color 0.25s;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: vwsize(15);
    min-width: vwsize(120);
    padding: vwsize(5) vwsize(30) vwsize(3);
    color: var(--styleColor);
    font-size: vwsize(30);
    line-height: vwsize(36);
    background: 0 0;
    border: 1px solid var(--styleColor);
    border-radius: vwsize(23);
    text-transform: uppercase;
    transition: color 0.25s, background-color 0.25s, border 0.25s;
    transform: translateZ(0);

    @include hover() {
      background-color: var(--styleColor);
      color: $color-dark;
    }
  }
}
