@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  width: vwsize(753);
  height: 100%;

  .slider {
    position: absolute;
    height: 100%;
    width: vwsize(650);
  }

  .ticker {
    right: 0;
    left: auto;
  }

  .btn {
    position: absolute;
    z-index: 4;
    top: vwsize(45);
    left: vwsize(47);
    letter-spacing: 0;
    transform: translateZ(0);
  }
}
