@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .bold {
    font-size: vwsize(21);
    letter-spacing: vwsize(-0.34);
    font-weight: 500;
    text-transform: uppercase;
  }

  a {
    font-size: vwsize(18);
  }

  .info {
    position: relative;
    text-align: center;
    line-height: vwsize(14);
  }

  .title {
    font-size: vwsize(21);
    letter-spacing: vwsize(-0.34);
    font-weight: 500;
    text-transform: uppercase;
  }

  .copy {
    display: flex;
    align-items: center;
  }

  .icon {
    flex-basis: auto;

    svg {
      width: vwsize(27);
      height: vwsize(26);
      animation: wiggle 1.2s infinite;
    }
  }

  .text {
    margin-left: vwsize(5);
    font-weight: 500;
    font-size: vwsize(18);
    word-spacing: vwsize(3);
  }
}

@keyframes wiggle {
  0% {
    transform: translate3d(0, 0.5px, 0);
  }

  20% {
    transform: translate3d(0.5px, 0, 0);
  }

  40% {
    transform: translate3d(0, -0.5px, 0);
  }

  60% {
    transform: translate3d(-0.5, 0.5px, 0);
  }

  80% {
    transform: translate3d(0.5px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0.5px, 0);
  }
}
