@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 1;
  height: 100%;
  width: 100%;

  .picture {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .label {
    position: absolute;
    z-index: 5;
    bottom: vwsize(30);
    left: vwsize(30);
    display: flex;
    align-items: center;
    justify-content: center;
    width: vwsize(200);
    height: vwsize(46);
    color: $color-dark;
    background-color: $color-cream;
    text-transform: uppercase;
    font-size: vwsize(30);
    border-radius: vwsize(24);
  }

  .link {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  &:hover {
    .label {
      background-color: transparent;
      color: $color-cream;
    }
  }
}
