@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding-left: vwsize(44);
  padding-right: vwsize(44);
  padding-top: vwsize(30);
  padding-bottom: vwsize(30);
  mix-blend-mode: normal;

  .inner {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: vwsize(45);
    height: vwsize(45);
    transform: translateX(-50%) translateY(-50%);
    color: var(--styleColor);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
  }
}

.isBlend {
  mix-blend-mode: difference;

  .logo {
    opacity: 1;
    visibility: visible;
  }
}

.isNotHome {
  .logo {
    opacity: 1;
    visibility: visible;
  }
}
