$desktop-width: 1920;
$tablet-width: 455;
$mobile-width: 414;

$mobile-font-size: 10;
$tablet-font-size: 21.6;
$desktop-font-size: 13.7;

$w-small-mobile-width: 360px;
$w-mobile-width: 480px;
$w-tablet-width: 768px;
