@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  background-color: #000;
  border-top: 3px solid $color-dark;
  height: 100vh;

  & > div {
    font-size: vwsize(30);
    color: $color-cream;
    text-transform: uppercase;

    &:nth-child(2) {
      letter-spacing: vwsize(-0.56);
    }

    span {
      text-transform: lowercase;
    }
  }

  .inner {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: vwsize(607);
    height: vwsize(235);
    margin: 0 auto;

    span {
      max-width: vwsize(360);
      font-size: vwsize(55);
      line-height: vwsize(65);
      letter-spacing: vwsize(-0.89);
      text-align: center;
      text-transform: uppercase;
    }

    svg {
      position: absolute;
      width: vwsize(25);
      height: vwsize(25);
      transition: transform 0.3s;

      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 0;
        right: 0;
      }

      &:nth-child(3) {
        bottom: 0;
        left: 0;
      }

      &:nth-child(4) {
        right: 0;
        bottom: 0;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid #f9f8e4;
      border-radius: 50%;
      transform-origin: 50% 50% 0;
      animation: rotate 2s linear infinite;
    }

    @include hover {
      svg {
        &:nth-child(1) {
          transform: rotate(90deg);
        }

        &:nth-child(2) {
          transform: rotate(180deg);
        }

        &:nth-child(4) {
          transform: rotate(-90deg);
        }
      }
    }
  }

  .background {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: vwsize(44) vwsize(54);
    width: 100%;
  }

  .footer {
    width: 100%;
    padding-bottom: vwsize(44);
  }

  .content {
    width: 100%;
  }

  .text {
    max-width: vwsize(1636);
    margin: 0 auto;
    text-align: center;
    font-size: vwsize(25);
    line-height: vwsize(34);
    text-transform: uppercase;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(180deg);
  }
}
