@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  padding-top: vwsize(100);
  padding-bottom: vwsize(100);
  height: vwsize(1000);

  .item {
    position: absolute;
    flex-shrink: 0;
    width: vwsize(906);
    padding-right: vwsize(30);
  }
}
