@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/text' as *;

.root {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  background: 0 0;
  cursor: none;
  mix-blend-mode: difference;

  .icon {
    width: vwsize(50);
    height: vwsize(50);
    border-radius: 50%;
    background-color: $color-blue;
    filter: blur(5px);
    transition: all 0.1s linear;
  }

  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: vwsize(800);
    height: vwsize(308);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-cream;
    font-size: vwsize(35);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
    background-color: transparent;
    white-space: pre;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

.isHover {
  .icon {
    transform: scale(0.6);
  }
}

.isText {
  .icon {
    filter: blur(0);
    background-color: transparent;
  }

  .text {
    opacity: 1;
  }
}

.isImage {
  mix-blend-mode: unset;

  .icon {
    filter: blur(0);
    background-color: transparent;
  }

  .text {
    opacity: 1;
  }
}

.isHidden {
  .icon {
    opacity: 0;
    pointer-events: none;
  }
}
