@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: vwsize(112);
  overflow: hidden;
  background-color: $color-cream;

  .inner {
    display: inline-flex;
    align-items: center;
    width: vwsize(112);
    height: 100%;
    white-space: nowrap;
    writing-mode: vertical-rl;
  }

  .item {
    flex-basis: auto;
  }
}

.type {
  &-right {
    right: 0;
    left: auto;
  }
}
