@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: vwsize(408);
  padding-top: vwsize(40);
  background-color: $color-dark;
  color: $color-cream;

  .top {
    position: relative;
  }

  .bottom {
    margin-top: auto;
    padding: 0 vwsize(100) vwsize(62);
  }
}
