@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  padding-right: vwsize(38);

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .logo {
    width: vwsize(210);
    height: vwsize(210);

    video {
      height: 100%;
      width: 100%;
    }
  }

  .title {
    display: flex;
    align-items: flex-end;
    font-size: vwsize(178);
    line-height: 0.8;
    letter-spacing: vwsize(-2.81);
    text-transform: uppercase;

    svg {
      position: relative;
      top: vwsize(8);
      margin-left: vwsize(-15);
      margin-right: vwsize(-15);
      width: vwsize(101);
      height: vwsize(160);
      animation: wiggle 1.1s infinite;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: vwsize(30);
      letter-spacing: vwsize(-0.48);
      text-transform: uppercase;
    }

    svg {
      width: vwsize(49);
      height: vwsize(48);
      margin-left: vwsize(23);
      animation: wiggle 1.1s infinite;
    }
  }
}

@keyframes wiggle {
  0% {
    transform: translate3d(0, 0.5px, 0);
  }

  20% {
    transform: translate3d(0.5px, 0, 0);
  }

  40% {
    transform: translate3d(0, -0.5px, 0);
  }

  60% {
    transform: translate3d(-0.5, 0.5px, 0);
  }

  80% {
    transform: translate3d(0.5px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0.5px, 0);
  }
}
