@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  display: block;
  width: vwsize(580);
  padding: vwsize(34);
  border-radius: vwsize(67);
  border: 1px solid $color-black;
  background-color: $color-cream;
  text-align: center;
  text-transform: uppercase;
  font-size: vwsize(30);
  line-height: vwsize(32);
  letter-spacing: vwsize(-0.48);

  span {
    position: relative;
    display: inline-flex;
    padding: 0 vwsize(20);

    &::after,
    &::before {
      content: '';
      position: absolute;
      display: block;
      height: vwsize(13);
      width: vwsize(13);
      transition: transform 0.3s ease;
    }

    &::after {
      right: vwsize(18);
      bottom: vwsize(-8);
      border-right: 2px solid $color-dark;
      border-bottom: 2px solid $color-dark;
    }

    &::before {
      top: vwsize(-8);
      left: vwsize(18);
      border-left: 2px solid $color-dark;
      border-top: 2px solid $color-dark;
    }
  }

  @include hover {
    background-color: $color-dark;
    color: $color-cream;

    span {
      &::after,
      &::before {
        border-color: $color-cream;
      }

      &::after {
        transform: translate(6px, 6px);
      }

      &::before {
        transform: translate(-6px, -6px);
      }
    }
  }
}
