@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: absolute;
  display: inline-flex;
  align-items: center;
  flex-basis: auto;
  flex-shrink: 0;

  .symbols {
    display: flex;
    align-items: center;
    margin-left: vwsize(20);

    svg {
      width: vwsize(30);
      height: vwsize(27);
      margin-right: vwsize(5);
    }
  }

  .title {
    padding-left: vwsize(30);
    padding-right: vwsize(42);
    font-size: vwsize(55);
    line-height: vwsize(65);
    letter-spacing: vwsize(-0.89);
  }

  .small {
    font-size: vwsize(30);
    letter-spacing: vwsize(-0.48);
  }
}
