@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  padding: vwsize(100) vwsize(15);

  .inner {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    max-width: 50%;
    width: 100%;
    padding: 0 vwsize(7.5) vwsize(15);
  }
}
