@use '~styles/variables' as *;
@use '~styles/mixins' as *;
@use '~styles/media' as *;
@use '~styles/text' as *;

.root {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .header {
    position: absolute;
    z-index: 3;
    top: vwsize(32);
    right: vwsize(30);
    color: $color-cream;
    font-size: vwsize(30);
    text-transform: uppercase;
  }

  .items {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .title {
    position: absolute;
    z-index: 3;
    bottom: vwsize(30);
    left: vwsize(30);
    font-size: vwsize(25);
    font-weight: 500;
    color: #f9f8e4;
    mix-blend-mode: difference;
  }
}
